<!DOCTYPE html>
<html lang="en">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about_the_model">About the Model</a></li>
            <li><a href="/">predict your heart disease</a></li>
        </ul>
    </nav>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>About the Heart Disease Prediction Model</h1>
        <p>ssss</p>

        <h2>Project Overview</h2>
        <p>Tasdasasd.</p>

        <h2>Dataset</h2>
        <ul>
            <li><strong>Number of Rows:</strong> 500,000</li>
            <li><strong>Number of Features:</strong> 27</li>
            <li><strong>Key Preprocessing Steps:</strong> MICE imputation, SMOTE, and feature scaling.</li>
        </ul>

        <h2>Model Details</h2>
        <ul>
            <li><strong>Best Model:</strong> Random Forest Classifier</li>
            <li><strong>Performance Metrics:</strong>
                <ul>
                    <li>Accuracy: 69%</li>
                    <li>Precision: 69%</li>
                    <li>Recall: 69%</li>
                    <li>AUC-ROC: 0.691</li>
                </ul>
            </li>
        </ul>

        <h2>Advanced Techniques</h2>
        <ul>
            <li>Feature interactions and importance analysis</li>
            <li>Data cleaning and imputation with MICE</li>
            <li>Class imbalance handled using SMOTE</li>
        </ul>

        <a href="/" class="btn">Back to Prediction</a>
    </div>
</body>
</html>

